<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РуВики</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="arcticle">
        <div class="arcticle_text">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
        </div>
        <div class="arcticle_image">
            {% if article.photo %}

                <img src="{{ url_for('uploaded_photo', filename=article.photo)}}" alt="{{ article.title }}" style="height: 186px; width: auto; margin-bottom: 10px;">

                <div>{{article.title}}</div>
            {% else %}
                <div><b>Фотография отсутствует</b></div>
            {% endif %}
        </div>
    </div>

    
</body>
</html>